<div class='form-group'>
    <label>{{ field.label }}</label>
    <input class='form-control' type='text' name='node[{{ key }}]' value='{{ node[key] }}'{% if field.required %} required{% endif %}{% if field.readonly %} readonly autocomplete='off'{% endif %}{% if field.placeholder %} placeholder='{{ field.placeholder }}'{% endif %}/>
    {% if field.help %}
        <p class='help-block'>{{ field.help|raw }}</p>
    {% endif %}
</div>
