<?xml version='1.0' encoding='UTF-8'?>
<rss version='2.0' xmlns:atom='http://www.w3.org/2005/Atom' xmlns:itunes='http://www.itunes.com/dtds/podcast-1.0.dtd'>
    <channel>
        <atom:link href='{{ request.base }}{{ request.uri }}' rel='self' type='application/rss+xml'/>
        <language>ru-RU</language>
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <generator>umonkey/ufw1</generator>
        <link>{% if feed.link %}{{ feed.link }}{% else %}{{ request.base }}/{% endif %}</link>
        <title>{% if feed.title %}{{ feed.title }}{% else %}Recent documents{% endif %}</title>
        {% if items %}
            <pubDate>{{ items[0].created|date_rfc }}</pubDate>
            <lastBuildDate>{{ items[0].created|date_rfc }}</lastBuildDate>
            {% for item in items %}
                <item>
                    <pubDate>{{ item.created|date_rfc }}</pubDate>
                    <title>{{ item.title }}</title>
                    <description>{{ item.description ?: 'No description.' }}</description>
                    <link>{{ item.link }}</link>
                    <guid>{{ item.guid }}</guid>
                </item>
            {% endfor %}
        {% endif %}
    </channel>
</rss>
