{% extends "layouts/base.twig" %}

{% block page_title %}re:{{ page_name }}{% endblock %}

{% block body_class %}wiki_edit{% endblock %}

{% block page_header %}{% endblock %}

{% block header %}{% endblock %}

{% block footer %}{% endblock %}

{% block page_contents %}
    <form id='upload' class='upload async' action='/wiki/upload' method='post' style='display: none'>
        <input id='uploadctl' type='file' name='files[]' multiple accept='image/*' />
        <input type='hidden' name='callback' value='reload_files'/>
    </form>

    <div class='wikiedit pedit' data-back='{{ request.base }}/wiki?name={{ page_name|url_encode }}'>
        <div class='toolbar'>
            {% for btn in wiki_buttons %}
                <button class='btn btn-default' name='{{ btn.name }}' type='button'{% if btn.hint %} title='{{ btn.hint }}'{% endif %}{% if btn.link %} data-link='{{ btn.link }}'{% endif %}>{% if btn.icon %}<i class='fas fa-{{ btn.icon }}'></i>{% endif %}{% if btn.label %} {{ btn.label }}{% endif %}</button>
            {% endfor %}
        </div>

        <div class='editor'>
            <form class='wikisource async' method='post' action='/wiki/edit'>
                <input type="hidden" name="page_name" value="{{ page_name }}"/>
                {% if page_section %}
                    <input type="hidden" name="page_section" value="{{ page_section }}"/>
                {% endif %}

                <textarea class="form-control markdown wiki" name="page_source" autofocus="autofocus">{{ page_source }}</textarea>
            </form>

            <aside>
                <div class='files' style='display: none'>
                    <div class='search'>
                        <input class='fsearch' type='search' name='query' autocomplete='off' placeholder='Поиск по файлам...'/>
                        <label for='uploadctl' class='btn btn-default upload'><i class="fas fa-cloud-upload-alt"></i></label>
                    </div>

                    <div class='tiles'>
                        <div class='wrap'>
                            <p>Загружаю список файлов...</p>
                        </div>
                    </div>
                </div>

                <form class='fileinfo async' action='/admin/nodes/save' method='post' style='display: none'>
                    <img class='fsrc' src='/images/placeholder.png'/>

                    <input type='hidden' name='next' value=''/>

                    <div class='form-group'>
                        <label>Номер файла:</label>
                        <input class='form-control fid' type='text' name='node[id]' readonly/>
                    </div>

                    <div class='form-group'>
                        <label>Заголовок:</label>
                        <input class='form-control ftitle' type='text' name='node[title]'/>
                    </div>

                    <div class='form-group'>
                        <label>Описание:</label>
                        <textarea class='form-control fcaption' name='node[caption]'></textarea>
                    </div>

                    <div class='form-actions'>
                        <button class='btn btn-primary'>Сохранить</button>
                    </div>
                </form>
            </aside>
        </div>
    </div>
{% endblock %}
