{% extends "layouts/base.twig" %}

{% block page_title %}{{ form.new_title }}{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>{% if form.new_title %}{{ form.new_title }}{% else %}Создание нового документа{% endif %}</h1>
    </div>
{% endblock %}

{% block page_contents %}
    {% include 'parts/admin-breadcrumbs.twig' with {'path': [{
        'label': 'Список документов',
        'link': '/admin/nodes',
    }, {
        'label': 'Редактирование',
        'link': request.get.path,
    }]} %}

    <form class='async' action='/admin/nodes/save' method='post'>
        <input type='hidden' name='node[type]' value='{{ type }}'/>
        <input type='hidden' name='node[published]' value='0'/>
        <input type='hidden' name='next' value='{% if request.get.back %}{{ request.get.back }}{% else %}/admin/nodes{% endif %}'/>

        {% for key, field in form.fields %}
            {% set template %}fields/{{ field.type }}.twig{% endset %}
            {% include [template, 'fields/default.twig'] with {'node': node, 'field': field, 'key': key} %}
        {% endfor %}

        {% if not form.fields.published %}
            <div class='form-group'>
                <label class='checkbox'><input type='checkbox' name='node[published]' value='1'{% if node.published %} checked{% endif %} autocomplete='off'/> опубликовать документ</label>
            </div>
        {% endif %}

        <div class='form-actions'>
            <button class='btn btn-primary'>Сохранить изменения</button> или <a href='{% if request.get.back %}{{ request.get.back }}{% else %}/admin/nodes{% endif %}'>вернуться ко списку документов</a>
        </div>

        <div class='msgbox'></div>
    </form>
{% endblock %}

