{% extends "base.twig" %}

{% block page_title %}re:{{ page_name }}{% endblock %}

{% block body_class %}wiki_edit{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1>Редактирование</h1>
    </div>
{% endblock %}

{% block page_contents %}
 <form class="pedit async" method="post" action="/wiki/edit">
  <input type="hidden" name="page_name" value="{{ page_name }}"/>
  {% if page_section %}
      <input type="hidden" name="page_section" value="{{ page_section }}"/>
  {% endif %}

  <textarea class="form-control markdown wiki" name="page_source" autofocus="autofocus">{{ page_source }}</textarea>

  <div class="form-actions wiki-actions">
   <button class="btn btn-primary">Сохранить</button>
   <ul class="buttons wiki_buttons">
    <li><a class='btn btn-default btn-icon' href="/wiki?name={{ page_name }}" title='Оставить как есть'><i class="fas fa-times"></i></a></li>
    <li><a class='btn btn-default btn-icon' href="/wiki?name=Памятка+редактора" target="_blank" title='Памятка редактора'><i class="fas fa-question-circle"></i></a></li>
   </ul>
  </div>
 </form>
{% endblock %}
