{% extends "base.twig" %}

{% block more_head %}
    {% if edit_link %}
        <link rel="edit" title="Редактировать страницу" href="/wiki/edit?name={{ page.name|url_encode }}"/>
        <link rel="alternate" type="application/x-wiki" title="Редактировать страницу" href="/wiki/edit?name={{ page.name|url_encode }}"/>
    {% endif %}

    <meta property="og:url" content="https://{{ host }}/wiki?name={{ page.name|url_encode }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title }}"/>
    {% if page.image %}
        <meta property="og:image" content="{{ page.image|replace({"/i/thumbnails/": "/i/photos/"}) }}"/>
    {% else %}
        <meta property="og:image" content="/images/splash.jpg"/>
    {% endif %}
    {% if page.images %}
        {% for image in page.images %}
            <meta property="og:image" content="{{ image.src }}"/>
            {% if image.width %}
                <meta property="og:image:width" content="{{ image.width }}"/>
            {% endif %}
            {% if image.height %}
                <meta property="og:image:height" content="{{ image.height }}"/>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if "File:" in page.name %}
        <meta name="robots" content="noindex"/>
    {% endif %}
{% endblock %}

{% block page_title %}{% if page.name == "Введение" %}Гид по Себежу{% else %}{{ page.title }} — {% if page.language == "en" %}Sebezh Guide{% else %}гид по Себежу{% endif %}{% endif %}{% endblock %}

{% block page_header %}
    <div class="page-header">
        <h1 itemprop="name">{{ page.title }}</h1>
    </div>
{% endblock %}

{% block page_contents %}
    {% if edit_link %}
        {% if page_age == 0 %}
            <div class="wikimeta">Страница была изменена сегодня; вы тоже можете <a href="{{ edit_link }}">редактировать её</a>.</div>
        {% elseif page_age == 1 %}
            <div class="wikimeta">Страница была изменена вчера; вы тоже можете <a href="{{ edit_link }}">редактировать её</a>.</div>
        {% else %}
            <div class="wikimeta">Страница была изменена {{ page_age }} {{ page_age|sklo("день", "дня", "дней") }} назад; вы тоже можете <a href="{{ edit_link }}">редактировать её</a>.</div>
        {% endif %}
    {% endif %}

    <div class="formatted" itemprop="articleBody">
        {% if page.en %}
            <p><i>You can read this page in English: <a href="/wiki?name={{ page.en }}">{{ page.en }}</a>.</i></p>
        {% elseif page.ru %}
            <p><i>Эта страница есть на русском языке: <a href="/wiki?name={{ page.ru }}">{{ page.ru }}</a>.</i></p>
        {% endif %}

        {% if "wiki:" in page.name %}
            <pre>{{ page.text }}</pre>
        {% else %}
            {{ page.html|raw }}
        {% endif %}
    </div>

    <div id="disqus_thread"></div>
{% endblock %}
