<table class="table grid nodes">
    <thead>
        <tr>
            <th>#</th>
            <th>Тип</th>
            <th>Название</th>
            <th>Создан</th>
            <th><i title='Документ виден на сайте' class="fas fa-eye"></i></th>
            <th/>
        </tr>
    </thead>
    <tbody>
        {% for n in nodes %}
            <tr class='{% if n.published %}published{% else %}unpublished{% endif %}{% if request.get.edited == n.id %} edited{% endif %}'>
                <td class="rowid">{{ n.id }}</td>
                <td><a href='/admin/nodes/{{ n.type }}'>{{ n.type }}</a></td>
                <td><a href="/admin/nodes/{{ n.id }}/edit">{% if n.name %}{{ n.name }}{% else %}(без названия){% endif %}</a></td>
                <td>{{ n.created|date_simple }}</td>
                <td style='text-align: center'>{% if n.published %}1{% else %}0{% endif %}</td>
                <td><a href='/admin/nodes/{{ n.id }}/dump'><i class="far fa-question-circle"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
